body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

:root {
  --primery-text-color: #757575;
  --heading-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --icon-color: #AFB1B8;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
img{
  display: block;
  max-width: 100%;
}

/*Спрятать заголовки*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}



/*Шапка*/
.header{
 border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center; 
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link.current::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.mail{
  display: flex;
  align-items: center;
 
}
.tel {
  display: flex;
  align-items: center;
  
}
.envelope{
  margin-right: 10px;
  fill: currentColor;
}

.smartphone{  
  margin-right: 10px;
  fill: currentColor;
}

/*Main*/
/*Герой*/
.hero {
  background-color: #C4C4C4;
  text-align: center;
}
.hero .container{
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  border-radius: 4px;
  border-style: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.overlay{
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--heading-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*Преимущества*/
.advantages-section {
  padding-bottom: 0;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  width: 270px;
}
.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--heading-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages__text {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.advantages__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA ;
  margin-bottom: 30px;
}


/*Чем мы занимаемся?*/
.whatwedo {
  display: flex;
  flex-wrap: wrap;
}
.whatwedo__item {
  width: 370px;
}
.whatwedo__item + .whatwedo__item {
  margin-left: 30px;
}
.whatwedo__thumb::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.whatwedo__thumb{

  position: relative;
}
.whatwedo__text{   

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primery-white-color);

  position: absolute;
  bottom: 0;
  
  width: 100%;
  padding-bottom: 27px;
 
}

/*Наша команда*/
.ourteam {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  width: 270px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
}
.team__item + .team__item{
  margin-left: 30px;
}
}
.team__image {
  margin-top: 0;
  margin-bottom: 0;
}
.team__description{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primery-white-color);
  border-radius: 0 0 4px 4px;
}

.team__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition-property: color, background-color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}
.social__icon + .social__icon{
  margin-left: 10px;
}
.social__link:hover,
.social__link:focus{
  color: var(--primery-white-color); 
  background-color: var(--accent-color);
}
.invite .social__link {
  color: var(--primery-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.invite .social__link:hover,
.invite .social__link:focus{
  background-color: var(--accent-color);
}

.social__instagram{
  fill: currentColor;
}
.social__twitter{
  fill: currentColor;
}
.social__facebook{
  fill: currentColor;
}
.social__linkedin{
  fill: currentColor;
}

/*Постоянные клиенты*/

.clients{
display: flex;
justify-content: space-between;
}
.clients__item .clients__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: solid 1px var(--icon-color);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item .clients__link:hover,
.clients__item .clients__link:focus{
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__image {
  fill: currentColor;
}


/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container{
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primery-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer__link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--primery-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer__contacts {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.invite{
  margin-left: 70px;
}
.invite__title{
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primery-white-color);
margin-bottom: 20px;
}

.mailing{
  display: flex;
  margin-left: auto;
}

.email-label{
  display: block;
}

.email-input{
  
  background-color: transparent;
  width: 358px;
height: 50px;
margin-right: 12px;
border-radius: 4px;
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
border: 1px solid rgba(255, 255, 255, 0.3);

font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
}

.email-button{
  display: inline-flex;
  align-items: center;
}

.icon-send{
  margin-left: 10px;
}

/*Portfolio*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter .button {
  border-radius: 4px;
  border-style: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  color: var(--heading-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Работы*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  
}

.card-hover{
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.card-hover:hover,
.card-hover:focus{
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio .title {  
  margin-bottom: 4px;
  color: var(--heading-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .link {
  text-decoration: none;
}
.portfolio .text {  
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.card-img{
  display: block;
  margin: 0;
}
.card-border{
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: solid 1px #EEEEEE;
  border-bottom: solid 1px #EEEEEE;
  border-left: solid 1px #EEEEEE;
}
.card-thumb{
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);  

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-text{
  position: absolute;
  top: 0;  
  left: 0;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 64px;

font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--primery-white-color);

}


.card-hover:hover .card-overlay{
transform: translateY(0);

} 

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  
}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(0.5);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  

  background-color: var(--primery-white-color);


  
}

.modal-close-button{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;  

  background-color: var(--primery-white-color);

  cursor: pointer;
}

.modal-close-button:hover{
  color: var(--accent-color);
}

.modal-form{
  padding: 40px;
}

.modal-form-text{
  display: block;

  margin-bottom: 12px;
font-family: Roboto;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.modal-label{
  display: block;

font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: var(--primery-text-color);

margin-bottom: 4px;
}

.modal-input{
  
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;

padding-left: 42px;  
margin-bottom: 10px;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  outline: none;
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon{
  fill: var(--accent-color);
}

.modal-input-textarea{
  display: block;
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-input-textarea:focus{
  outline: none;
border-color: var(--accent-color);
}

.modal-input-textarea::placeholder{
  font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.agreement{
  display: flex;
  
  align-items: center;

  margin-bottom: 30px;
}

.agreement-checkbox{
  appearance: none;
  position: absolute;
}

.icon-check{
  width: 16px;
  height: 15px;
  /* border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px; */
  background-image: url('../images/Vector.svg');
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .icon-check{
  
  background-image: url('../images/iconcheck.svg');
}

.modal-agreement-label{
  font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--primery-text-color);

margin-left: 8px;
}

.agreement-link{
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal-button{
  display: flex;
  justify-content: center;
}

.modal-button .button {
  height: 50px;
  width: 200px;
}

.modal-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-for-icon{
  position: relative;
}

